{% extends 'common_template/base_template_2.html' %}

{% block page_title %}
	<section class="content-header">
		<h3 style="font-weight:600">今日概覽</h3>
	</section>
<!--httpreferer : {{request.session.httpreferer}}<br>
httpreferer1 : {{request.session.httpreferer1}}<br>-->
{% endblock page_title %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		{% for displayitem in menuitem %}
			<li class="breadcrumb-item"><a href="/home" class="home-item" data-bs-original-title="" title="">
				<i data-feather="home"></i>{{displayitem.tabName}}</a>
			</li>
			<li class="breadcrumb-item">{{displayitem.catName}}</li>
			<li class="breadcrumb-item active">{{displayitem.subCatName}}</li>
		{% endfor %}
	</ol>
{% endblock breadcrumb %}

{% block main_content %}

{% load static %}

    <!-- Container-fluid starts-->
    <div class="container-fluid default-page">
      <div class="row">
        <!--
        <div class="col-xl-4 col-md-6 col-lg-3">
          <div class="card yearly-view">
            <div class="card-header pb-0">
              <h3>年度概覽<span class="badge badge-primary">50/100</span></h3>
              <h5 class="mb-0">Monday</h5>
            </div>
            <div class="card-body p-0">
              <div class="yearly-view" id="yearly-view"></div>
            </div>
          </div>
        </div>
        -->
        <!--
        <div class="col-xl-3 col-md-6 col-lg-4">
          <div class="card activity-review">
            <div class="card-header pb-0">
              <h3> Activity </h3>
              <div class="card-header-right">
                <ul class="list-unstyled card-option">
                  <li>
                    <div><i class="icon-settings"></i></div>
                  </li>
                  <li><i class="view-html fa fa-code"></i></li>
                  <li><i class="icofont icofont-maximize full-card"></i></li>
                  <li><i class="icofont icofont-minus minimize-card"></i></li>
                  <li><i class="icofont icofont-refresh reload-card"></i></li>
                  <li><i class="icofont icofont-error close-card"></i></li>
                </ul>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordernone">
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex">                             <img class="img-fluid" src="{% static 'Koho/assets/images/dashboard/activity/1.jpg' %}" alt="">
                          <div class="flex-grow-1"><a href="to-do.html">
                              <h5>Review request jim Smith</h5></a>
                            <p>jan 03 19 12:25 PM at Tame</p>
                          </div>
                          <div class="time-badge">
                            <p>14m Ago  </p>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex"><img class="img-fluid" src="{% static 'Koho/assets/images/dashboard/activity/2.jpg' %}" alt="">
                          <div class="flex-grow-1"> <a href="to-do.html">
                              <h5>New contact added</h5></a>
                            <p>jan 02 19 03:10 PM at Fresno</p>
                          </div>
                          <div class="time-badge">
                            <p>22m Ago  </p>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex">                             <img class="img-fluid" src="{% static 'Koho/assets/images/dashboard/activity/3.jpg' %}" alt="">
                          <div class="flex-grow-1"> <a href="to-do.html">
                              <h5>Sent review (504)236-7302</h5></a>
                            <p>jan 02 19 07:35 PM at Iris</p>
                          </div>
                          <div class="time-badge">
                            <p>30m Ago  </p>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        -->
          <div id="errormessage"></div>
        <div class="col-xl-12 col-lg-12">
          <div class="card">
            <div class="card-header pb-0 d-flex" style="justify-content: space-between;">
              <h3>最新<font style="font-weight:600;color:#B23839">放售</font>物業</h3>
              <h3><a href="/propertyEnquiry/1" style="cursor:pointer">顯示更多...</a></h3>
            </div>
            <div class="table-responsive">
                  <table class="display table-hover table-bordered table-striped" cellpadding="6" width="100%">
                      <thead>
                          <tr style="background-color:#330066;color:#FFFFFF">
                              <th style="text-align:center;" width="50">精選</th>
                              <th>地址</th>
                              <th style="text-align:center;" width="80">物業編號</th>
                              <th style="text-align:center;" width="80">用途</th>
                              <th width="80">建築面積</th>
                              <th width="80">實用面積</th>
                              <th style="text-align:center;" width="80">盤類</th>
                              <th style="text-align:center;" width="80">業主叫價</th>
                              <th style="text-align:center;" width="70">管理費</th>
                              <th style="text-align:center;" width="70">差餉</th>
                              <th style="text-align:center;" width="80">物業狀況</th>
                              <th style="text-align:center;" width="70">現租金</th>
                              <th style="text-align:center;" width="50">租期</th>
                              <th style="text-align:center;" width="70">回報率</th>
                              <th style="text-align:center;" width="40">圖</th>
                              <th style="text-align:center;" width="80">操作</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for displaydata in property_sell_view_list %}
                          <tr valign="top">
                              <td style="text-align:center;">
                                  {% if displaydata.Highlight is not NULL %}
                                    <div class="favourite-icon favourite_0 add_highlight" property_id="{{ displaydata.PropertyID }}" flag="sell"><i class="fa fa-star"></i></div>
                                  {% else %}
                                    <div class="favourite-icon favourite_0 add_highlight" property_id="{{ displaydata.PropertyID }}" flag="sell"><i class="fa fa-star-o"></i></div>
                                  {% endif %}
                              </td>
                              <td data-filter="{{ displaydata.PropertyName }}">{{ displaydata.PropertyName }}</td>
                              <td valign="top" style="text-align:center;" data-filter="{{ displaydata.PropertyNo }}">{{ displaydata.PropertyNo|safe }}</td>
                              <td valign="top" style="text-align:center;" data-filter="{{ displaydata.Usage }}">{{ displaydata.Usage|safe }}</td>
                              <td style="text-align:right;">{{ displaydata.GrossArea|default_if_none:""|format_number_with_commas }}</td>
                              <td style="text-align:right;">{{ displaydata.NetArea|default_if_none:""|format_number_with_commas }}</td>
                              <td style="text-align:center;">{{ displaydata.OfferType }}</td>
                              <td style="text-align:right;">{{ displaydata.SellingPrice|format_numeric }}</td>
                              <td style="text-align:right;">{{ displaydata.ManagementFee|format_numeric }}</td>
                              <td style="text-align:right;">{% if displaydata.Rates|default_if_none:0 != 0 %}{{ displaydata.Rates|default_if_none:0|format_numeric }}{% endif %}</td>
                              <td style="text-align:center;">
                                  {% if displaydata.Possession == "現吉" %}<span class="badge badge-success text-md">{{displaydata.Possession}}</span>{% endif %}
                                  {% if displaydata.Possession == "商議" %}<span class="badge badge-warning text-md">{{displaydata.Possession}}</span>{% endif %}
                                  {% if displaydata.Possession == "連租約" %}<span class="badge badge-danger text-md">{{displaydata.Possession}}</span>{% endif %}
                                  {% if displaydata.Possession == "已售" %}<span class="badge badge-success text-md">{{displaydata.Possession}}</span>{% endif %}
                                  {% if displaydata.Possession == "已租" %}<span class="badge badge-success text-md">{{displaydata.Possession}}</span>{% endif %}
                                  {% if displaydata.Possession == "封盤" %}<span class="badge badge-success text-md">{{displaydata.Possession}}</span>{% endif %}
                              </td>
                              <td style="text-align:right;">{{ displaydata.CurrentRent|default_if_none:"" }}</td>
                              <td style="text-align:right;">{{ displaydata.RentPeriod|default_if_none:"" }}</td>
                              <td style="text-align:right;">{{ displaydata.Yield|format_numeric }}</td>
                              <td style="text-align:center;">
                                   {% if displaydata.FileName is not NULL %}<span class="badge badge-success text-md">O</span>
                                   {% endif %}
                              </td>
                              <td style="text-align:center;">
                                  <a href="#" class="open_modal_info" data-bs-toggle="modal" data-bs-target="#InfoModal" action="edit" formtype="property_info" formname="Information" property_id="{{ displaydata.PropertyID }}" status="{{ displaydata.Possession }}"><i class="icon-eye"></i></a>&nbsp;&nbsp;
                                  {% if 1476 in request.session.accessright or 1461 in request.session.accessright %}<a href="/property/{{ displaydata.PropertyID }}" class="open_edit" action="edit" formtype="property_info" formname="Property Information" propertyid="{{ displaydata.PropertyID }}" propertyno="{{ displaydata.PropertyNo }}" propertyname="{{ displaydata.PropertyName }}" usage="{{ displaydata.Usage }}" district="{{ displaydata.District }}" subdistrict="{{ displaydata.SubDistrict }}" street="{{ displaydata.Street }}" streetno="{{ displaydata.StreetNo }}" building="{{ displaydata.Building }}" floor="{{ displaydata.Floor }}" unit="{{ displaydata.Unit }}" yield_field="{{ displaydata.Yield }}"><i class="icon-pencil-alt"></i></a>{% endif %}
                              </td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
            </div>
            <div class="card-header pb-0">

            </div>
          </div>
        </div>

        <div class="col-xl-12 col-lg-12">
          <div class="card">
            <div class="card-header pb-0 d-flex" style="justify-content: space-between;">
              <h3>最新<font style="font-weight:600;color:#B23839">放租</font>物業</h3>
              <h3><a href="/propertyEnquiry/2" style="cursor:pointer">顯示更多...</a></h3>
            </div>
            <div class="table-responsive">
                  <table class="display table-hover table-bordered table-striped" cellpadding="6" width="100%">
                      <thead>
                          <tr style="text-align:center;background-color:#330066;color:#FFFFFF">
                              <th style="text-align:center;" width="50">精選</th>
                              <th>地址</th>
                              <th style="text-align:center;" width="80">物業編號</th>
                              <th style="text-align:center;" width="80">用途</th>
                              <th width="80">建築面積</th>
                              <th width="80">實用面積</th>
                              <th style="text-align:center;" width="80">盤類</th>
                              <th style="text-align:center;" width="80">業主叫租</th>
                              <th style="text-align:center;" width="70">管理費</th>
                              <th style="text-align:center;" width="70">差餉</th>
                              <th style="text-align:center;" width="80">物業狀況</th>
                              <th style="text-align:center;" width="70">現租金</th>
                              <th style="text-align:center;" width="50">租期</th>
                              <th style="text-align:center;" width="70">回報率</th>
                              <th style="text-align:center;" width="40">圖</th>
                              <th style="text-align:center;" width="80">操作</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for displaydata in property_rent_view_list %}
                          <tr valign="top">
                              <td style="text-align:center;">
                                  {% if displaydata.Highlight is not NULL %}
                                    <div class="favourite-icon favourite_0 add_highlight" property_id="{{ displaydata.PropertyID }}" flag="rent"><i class="fa fa-star"></i></div>
                                  {% else %}
                                    <div class="favourite-icon favourite_0 add_highlight" property_id="{{ displaydata.PropertyID }}" flag="rent"><i class="fa fa-star-o"></i></div>
                                  {% endif %}
                              </td>
                              <td data-filter="{{ displaydata.PropertyName }}">{{ displaydata.PropertyName }}</td>
                              <td valign="top" style="text-align:center;" data-filter="{{ displaydata.PropertyNo }}">{{ displaydata.PropertyNo|safe }}</td>
                              <td valign="top" style="text-align:center;" data-filter="{{ displaydata.Usage }}">{{ displaydata.Usage|safe }}</td>
                              <td style="text-align:right;">{{ displaydata.GrossArea|default_if_none:""|format_number_with_commas }}</td>
                              <td style="text-align:right;">{{ displaydata.NetArea|default_if_none:""|format_number_with_commas }}</td>
                              <td style="text-align:center;">{{ displaydata.OfferType }}</td>
                              <td style="text-align:right;">{{ displaydata.Rent|format_numeric }}</td>
                              <td style="text-align:right;">{{ displaydata.ManagementFee|format_numeric }}</td>
                              <td style="text-align:right;">{% if displaydata.Rates|default_if_none:0 != 0 %}{{ displaydata.Rates|default_if_none:0|format_numeric }}{% endif %}</td>
                              <td style="text-align:center;">
                                  {% if displaydata.Possession == "現吉" %}<span class="badge badge-success text-md">{{displaydata.Possession}}</span>{% endif %}
                                  {% if displaydata.Possession == "商議" %}<span class="badge badge-warning text-md">{{displaydata.Possession}}</span>{% endif %}
                                  {% if displaydata.Possession == "連租約" %}<span class="badge badge-danger text-md">{{displaydata.Possession}}</span>{% endif %}
                                  {% if displaydata.Possession == "已售" %}<span class="badge badge-success text-md">{{displaydata.Possession}}</span>{% endif %}
                                  {% if displaydata.Possession == "已租" %}<span class="badge badge-success text-md">{{displaydata.Possession}}</span>{% endif %}
                                  {% if displaydata.Possession == "封盤" %}<span class="badge badge-success text-md">{{displaydata.Possession}}</span>{% endif %}
                              </td>
                              <td style="text-align:right;">{{ displaydata.CurrentRent|default_if_none:"" }}</td>
                              <td style="text-align:right;">{{ displaydata.RentPeriod|default_if_none:"" }}</td>
                              <td style="text-align:right;">{{ displaydata.Yield|format_numeric }}</td>
                              <td style="text-align:center;">
                                   {% if displaydata.FileName is not NULL %}<span class="badge badge-success text-md">O</span>
                                   {% endif %}
                              </td>
                              <td style="text-align:center;">
                                  <a href="#" class="open_modal_info" data-bs-toggle="modal" data-bs-target="#InfoModal" action="edit" formtype="property_info" formname="Information" property_id="{{ displaydata.PropertyID }}" status="{{ displaydata.Possession }}"><i class="icon-eye"></i></a>&nbsp;&nbsp;
                                  {% if 1476 in request.session.accessright or 1461 in request.session.accessright %}<a href="/property/{{ displaydata.PropertyID }}" class="open_edit" action="edit" formtype="property_info" formname="Property Information" propertyid="{{ displaydata.PropertyID }}" propertyno="{{ displaydata.PropertyNo }}" propertyname="{{ displaydata.PropertyName }}" usage="{{ displaydata.Usage }}" district="{{ displaydata.District }}" subdistrict="{{ displaydata.SubDistrict }}" street="{{ displaydata.Street }}" streetno="{{ displaydata.StreetNo }}" building="{{ displaydata.Building }}" floor="{{ displaydata.Floor }}" unit="{{ displaydata.Unit }}" yield_field="{{ displaydata.Yield }}"><i class="icon-pencil-alt"></i></a>{% endif %}
                              </td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
            </div>
            <div class="card-header pb-0">

            </div>
          </div>
        </div>

        <div class="col-xl-12 col-lg-12">
          <div class="card">
            <div class="card-header pb-0 d-flex" style="justify-content: space-between;">
              <h3>最新<font style="font-weight:600;color:#B23839">租售</font>物業</h3>
              <h3><a href="/propertyEnquiry/3" style="cursor:pointer">顯示更多...</a></h3>
            </div>
            <div class="table-responsive">
                  <table class="display table-hover table-bordered table-striped" cellpadding="6" width="100%">
                      <thead>
                          <tr style="text-align:center;background-color:#330066;color:#FFFFFF">
                              <th style="text-align:center;" width="50">精選</th>
                              <th>地址</th>
                              <th style="text-align:center;" width="80">物業編號</th>
                              <th style="text-align:center;" width="80">用途</th>
                              <th width="80">建築面積</th>
                              <th width="80">實用面積</th>
                              <th style="text-align:center;" width="80">盤類</th>
                              <th style="text-align:center;" width="80">業主叫租</th>
                              <th style="text-align:center;" width="80">業主叫價</th>
                              <th style="text-align:center;" width="70">管理費</th>
                              <th style="text-align:center;" width="70">差餉</th>
                              <th style="text-align:center;" width="80">物業狀況</th>
                              <th style="text-align:center;" width="70">現租金</th>
                              <th style="text-align:center;" width="50">租期</th>
                              <th style="text-align:center;" width="70">回報率</th>
                              <th style="text-align:center;" width="40">圖</th>
                              <th style="text-align:center;" width="80">操作</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for displaydata in property_rentsell_view_list %}
                          <tr valign="top">
                              <td style="text-align:center;">
                                  {% if displaydata.Highlight is not NULL %}
                                    <div class="favourite-icon favourite_0 add_highlight" property_id="{{ displaydata.PropertyID }}" flag="sell"><i class="fa fa-star"></i></div>
                                  {% else %}
                                    <div class="favourite-icon favourite_0 add_highlight" property_id="{{ displaydata.PropertyID }}" flag="sell"><i class="fa fa-star-o"></i></div>
                                  {% endif %}
                              </td>
                              <td data-filter="{{ displaydata.PropertyName }}">{{ displaydata.PropertyName }}</td>
                              <td valign="top" style="text-align:center;" data-filter="{{ displaydata.PropertyNo }}">{{ displaydata.PropertyNo|safe }}</td>
                              <td valign="top" style="text-align:center;" data-filter="{{ displaydata.Usage }}">{{ displaydata.Usage|safe }}</td>
                              <td style="text-align:right;">{{ displaydata.GrossArea|default_if_none:""|format_number_with_commas }}</td>
                              <td style="text-align:right;">{{ displaydata.NetArea|default_if_none:""|format_number_with_commas }}</td>
                              <td style="text-align:center;">{{ displaydata.OfferType }}</td>
                              <td style="text-align:right;">{{ displaydata.Rent|format_numeric }}</td>
                              <td style="text-align:right;">{{ displaydata.SellingPrice|format_numeric }}</td>
                              <td style="text-align:right;">{{ displaydata.ManagementFee|format_numeric }}</td>
                              <td style="text-align:right;">{% if displaydata.Rates|default_if_none:0 != 0 %}{{ displaydata.Rates|default_if_none:0|format_numeric }}{% endif %}</td>
                              <td style="text-align:center;">
                                  {% if displaydata.Possession == "現吉" %}<span class="badge badge-success text-md">{{displaydata.Possession}}</span>{% endif %}
                                  {% if displaydata.Possession == "商議" %}<span class="badge badge-warning text-md">{{displaydata.Possession}}</span>{% endif %}
                                  {% if displaydata.Possession == "連租約" %}<span class="badge badge-danger text-md">{{displaydata.Possession}}</span>{% endif %}
                                  {% if displaydata.Possession == "已售" %}<span class="badge badge-success text-md">{{displaydata.Possession}}</span>{% endif %}
                                  {% if displaydata.Possession == "已租" %}<span class="badge badge-success text-md">{{displaydata.Possession}}</span>{% endif %}
                                  {% if displaydata.Possession == "封盤" %}<span class="badge badge-success text-md">{{displaydata.Possession}}</span>{% endif %}
                              </td>
                              <td style="text-align:right;">{{ displaydata.CurrentRent|default_if_none:"" }}</td>
                              <td style="text-align:right;">{{ displaydata.RentPeriod|default_if_none:"" }}</td>
                              <td style="text-align:right;">{{ displaydata.Yield|format_numeric }}</td>
                              <td style="text-align:center;">
                                   {% if displaydata.FileName is not NULL %}<span class="badge badge-success text-md">O</span>
                                   {% endif %}
                              </td>
                              <td style="text-align:center;">
                                  <a href="#" class="open_modal_info" data-bs-toggle="modal" data-bs-target="#InfoModal" action="edit" formtype="property_info" formname="Information" property_id="{{ displaydata.PropertyID }}" status="{{ displaydata.Possession }}"><i class="icon-eye"></i></a>&nbsp;&nbsp;
                                  {% if 1476 in request.session.accessright or 1461 in request.session.accessright %}<a href="/property/{{ displaydata.PropertyID }}" class="open_edit" action="edit" formtype="property_info" formname="Property Information" propertyid="{{ displaydata.PropertyID }}" propertyno="{{ displaydata.PropertyNo }}" propertyname="{{ displaydata.PropertyName }}" usage="{{ displaydata.Usage }}" district="{{ displaydata.District }}" subdistrict="{{ displaydata.SubDistrict }}" street="{{ displaydata.Street }}" streetno="{{ displaydata.StreetNo }}" building="{{ displaydata.Building }}" floor="{{ displaydata.Floor }}" unit="{{ displaydata.Unit }}" yield_field="{{ displaydata.Yield }}"><i class="icon-pencil-alt"></i></a>{% endif %}
                              </td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
            </div>
            <div class="card-header pb-0">

            </div>
          </div>
        </div>

        <div class="col-xl-12 col-lg-12">
          <div class="card">
            <div class="card-header pb-0 d-flex" style="justify-content: space-between;">
              <h3>最新<font style="font-weight:600;color:#B23839">連租約售</font>物業</h3>
              <h3><a href="/propertyEnquiry/4" style="cursor:pointer">顯示更多...</a></h3>
            </div>
            <div class="table-responsive">
                  <table class="display table-hover table-bordered table-striped" cellpadding="6" width="100%">
                      <thead>
                          <tr style="text-align:center;background-color:#330066;color:#FFFFFF">
                              <th style="text-align:center;" width="50">精選</th>
                              <th>地址</th>
                              <th style="text-align:center;" width="80">物業編號</th>
                              <th style="text-align:center;" width="80">用途</th>
                              <th width="80">建築面積</th>
                              <th width="80">實用面積</th>
                              <th style="text-align:center;" width="80">盤類</th>
                              <th style="text-align:center;" width="80">業主叫租</th>
                              <th style="text-align:center;" width="80">業主叫價</th>
                              <th style="text-align:center;" width="70">管理費</th>
                              <th style="text-align:center;" width="70">差餉</th>
                              <th style="text-align:center;" width="80">物業狀況</th>
                              <th style="text-align:center;" width="70">現租金</th>
                              <th style="text-align:center;" width="50">租期</th>
                              <th style="text-align:center;" width="70">回報率</th>
                              <th style="text-align:center;" width="40">圖</th>
                              <th style="text-align:center;" width="80">操作</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for displaydata in property_rentsell_tenant_view_list %}
                          <tr valign="top">
                              <td style="text-align:center;">
                                  {% if displaydata.Highlight is not NULL %}
                                    <div class="favourite-icon favourite_0 add_highlight" property_id="{{ displaydata.PropertyID }}" flag="sell"><i class="fa fa-star"></i></div>
                                  {% else %}
                                    <div class="favourite-icon favourite_0 add_highlight" property_id="{{ displaydata.PropertyID }}" flag="sell"><i class="fa fa-star-o"></i></div>
                                  {% endif %}
                              </td>
                              <td data-filter="{{ displaydata.PropertyName }}">{{ displaydata.PropertyName }}</td>
                              <td valign="top" style="text-align:center;" data-filter="{{ displaydata.PropertyNo }}">{{ displaydata.PropertyNo|safe }}</td>
                              <td valign="top" style="text-align:center;" data-filter="{{ displaydata.Usage }}">{{ displaydata.Usage|safe }}</td>
                              <td style="text-align:right;">{{ displaydata.GrossArea|default_if_none:""|format_number_with_commas }}</td>
                              <td style="text-align:right;">{{ displaydata.NetArea|default_if_none:""|format_number_with_commas }}</td>
                              <td style="text-align:center;">{{ displaydata.OfferType }}</td>
                              <td style="text-align:right;">{{ displaydata.Rent|format_numeric }}</td>
                              <td style="text-align:right;">{{ displaydata.SellingPrice|format_numeric }}</td>
                              <td style="text-align:right;">{{ displaydata.ManagementFee|format_numeric }}</td>
                              <td style="text-align:right;">{% if displaydata.Rates|default_if_none:0 != 0 %}{{ displaydata.Rates|default_if_none:0|format_numeric }}{% endif %}</td>
                              <td style="text-align:center;">
                                  {% if displaydata.Possession == "現吉" %}<span class="badge badge-success text-md">{{displaydata.Possession}}</span>{% endif %}
                                  {% if displaydata.Possession == "商議" %}<span class="badge badge-warning text-md">{{displaydata.Possession}}</span>{% endif %}
                                  {% if displaydata.Possession == "連租約" %}<span class="badge badge-danger text-md">{{displaydata.Possession}}</span>{% endif %}
                                  {% if displaydata.Possession == "已售" %}<span class="badge badge-success text-md">{{displaydata.Possession}}</span>{% endif %}
                                  {% if displaydata.Possession == "已租" %}<span class="badge badge-success text-md">{{displaydata.Possession}}</span>{% endif %}
                                  {% if displaydata.Possession == "封盤" %}<span class="badge badge-success text-md">{{displaydata.Possession}}</span>{% endif %}
                              </td>
                              <td style="text-align:right;">{{ displaydata.CurrentRent|default_if_none:"" }}</td>
                              <td style="text-align:right;">{{ displaydata.RentPeriod|default_if_none:"" }}</td>
                              <td style="text-align:right;">{{ displaydata.Yield|format_numeric }}</td>
                              <td style="text-align:center;">
                                   {% if displaydata.FileName is not NULL %}<span class="badge badge-success text-md">O</span>
                                   {% endif %}
                              </td>
                              <td style="text-align:center;">
                                  <a href="#" class="open_modal_info" data-bs-toggle="modal" data-bs-target="#InfoModal" action="edit" formtype="property_info" formname="Information" property_id="{{ displaydata.PropertyID }}" status="{{ displaydata.Possession }}"><i class="icon-eye"></i></a>&nbsp;&nbsp;
                                  {% if 1476 in request.session.accessright or 1461 in request.session.accessright %}<a href="/property/{{ displaydata.PropertyID }}" class="open_edit" action="edit" formtype="property_info" formname="Property Information" propertyid="{{ displaydata.PropertyID }}" propertyno="{{ displaydata.PropertyNo }}" propertyname="{{ displaydata.PropertyName }}" usage="{{ displaydata.Usage }}" district="{{ displaydata.District }}" subdistrict="{{ displaydata.SubDistrict }}" street="{{ displaydata.Street }}" streetno="{{ displaydata.StreetNo }}" building="{{ displaydata.Building }}" floor="{{ displaydata.Floor }}" unit="{{ displaydata.Unit }}" yield_field="{{ displaydata.Yield }}"><i class="icon-pencil-alt"></i></a>{% endif %}
                              </td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
            </div>
            <div class="card-header pb-0">

            </div>
          </div>
        </div>

        <div class="col-xl-12 col-lg-12">
          <div class="card">
            <div class="card-header pb-0 d-flex" style="justify-content: space-between;">
              <h3>最新<font style="font-weight:600;color:#B23839">跟進</font>物業記錄</h3>
              <!--<h3><a href="/propertyEnquiry/3" style="cursor:pointer">顯示更多...</a></h3>-->
            </div>
            <div class="table-responsive">
                  <table class="display table-hover table-bordered table-striped" cellpadding="6" width="100%">
                      <thead>
                          <tr style="text-align:center;background-color:#330066;color:#FFFFFF">
                              <th width="30"></th>
                              <th width="100">跟進日期</th>
                              <th>地址</th>
                              <th style="text-align:center;" width="80">物業編號</th>
                              <th style="text-align:center;" width="80">用途</th>
                              <th style="text-align:center;" width="80">盤類</th>
                              <th width="100">業主叫價(M)</th>
                              <th width="100">業主叫價(@)</th>
                              <th style="text-align:center;" width="100">業主叫租(K)</th>
                              <th style="text-align:center;" width="100">業主叫租(@)</th>
                              <th style="text-align:center;" width="80">描述</th>
                              <th style="text-align:center;" width="100">跟進人</th>
                              <th style="text-align:center;" width="80">物業狀況</th>
                              <th style="text-align:center;" width="80">操作</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for displaydata in property_follow_list %}
                          <tr valign="top">
                              <td style="text-align:right;"><!--div class="favourite-icon favourite_0" onclick="setFavourite(0)"><a href="javascript:void(0)"><i class="fa fa-star"></i></a></div>--></td>
                              <td style="text-align:center;" data-filter="{{ displaydata.FollowDate|date:'Y-m-d' }}">{{ displaydata.FollowDate|date:'Y-m-d' }}</td>
                              <td data-filter="{{ displaydata.PropertyName }}">{{ displaydata.PropertyName }}</td>
                              <td valign="top" style="text-align:center;" data-filter="{{ displaydata.PropertyNo }}">{{ displaydata.PropertyNo|safe }}</td>
                              <td valign="top" style="text-align:center;" data-filter="{{ displaydata.Usage }}">{{ displaydata.Usage|safe }}</td>
                              <td style="text-align:center;">{{ displaydata.OfferType }}</td>
                              <td style="text-align:right;">{{ displaydata.SellingPrice|format_numeric }}</td>
                              <td style="text-align:right;">{{ displaydata.UnitPrice|format_numeric }}</td>
                              <td style="text-align:right;">{{ displaydata.Rent|format_numeric }}</td>
                              <td style="text-align:right;">{{ displaydata.UnitRent|format_numeric }}</td>
                              <td style="text-align:right;">{{ displaydata.Description }}</td>
                              <td style="text-align:right;">{{ displaydata.LoginNameDesc }}</td>
                              <td style="text-align:center;">
                                  {% if displaydata.Possession == "現吉" %}<span class="badge badge-success text-md">{{displaydata.Possession}}</span>{% endif %}
                                  {% if displaydata.Possession == "商議" %}<span class="badge badge-warning text-md">{{displaydata.Possession}}</span>{% endif %}
                                  {% if displaydata.Possession == "連租約" %}<span class="badge badge-danger text-md">{{displaydata.Possession}}</span>{% endif %}
                                  {% if displaydata.Possession == "已售" %}<span class="badge badge-success text-md">{{displaydata.Possession}}</span>{% endif %}
                                  {% if displaydata.Possession == "已租" %}<span class="badge badge-success text-md">{{displaydata.Possession}}</span>{% endif %}
                                  {% if displaydata.Possession == "封盤" %}<span class="badge badge-success text-md">{{displaydata.Possession}}</span>{% endif %}
                              </td>
                              <td style="text-align:center;">
                                  <a href="#" class="open_modal_info" data-bs-toggle="modal" data-bs-target="#InfoModal" action="edit" formtype="property_info" formname="Information" property_id="{{ displaydata.PropertyID }}" status="{{ displaydata.Possession }}"><i class="icon-eye"></i></a>&nbsp;&nbsp;
                                  <a href="/property/{{ displaydata.PropertyID }}" class="open_edit" action="edit" formtype="property_info" formname="Property Information" propertyid="{{ displaydata.PropertyID }}" propertyno="{{ displaydata.PropertyNo }}" propertyname="{{ displaydata.PropertyName }}" usage="{{ displaydata.Usage }}" district="{{ displaydata.District }}" subdistrict="{{ displaydata.SubDistrict }}" street="{{ displaydata.Street }}" streetno="{{ displaydata.StreetNo }}" building="{{ displaydata.Building }}" floor="{{ displaydata.Floor }}" unit="{{ displaydata.Unit }}" yield_field="{{ displaydata.Yield }}"><i class="icon-pencil-alt"></i></a>
                              </td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
            </div>
            <div class="card-header pb-0">

            </div>
          </div>
        </div>

        <!--<div class="col-xl-4 col-lg-4">
          <div class="card profile-greeting">
            <div class="card-body">
              <div>
                <h1>歡迎,{{ request.session.loginnamedesc }}</h1>
                <p></p><a class="btn" href="user-profile.html">繼續<i data-feather="arrow-right"></i></a>
              </div>
              <div class="greeting-img"><img class="img-fluid" src="{% static 'Koho/assets/images/dashboard/profile-greeting/bg.png' %}" alt=""></div>
            </div>
          </div>
        </div>-->
        <!--
        <div class="col-xl-3 col-lg-3">
          <div class="row">
            <div class="col-xl-12 col-sm-6 col-lg-12">
              <div class="card value-chart bg-primary">
                <div class="card-body">
                  <div class="row">
                    <div class="col-6">
                      <div class="round-progress knob-block text-center">
                        <div class="progress-circle">
                          <input class="knob1" data-width="10" data-height="70" data-thickness=".3" data-angleoffset="0" data-linecap="round" data-fgcolor="#534686" data-bgcolor="#C4C4C4" value="62">
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="valuechart-detail">
                        <div>
                          <p>Our Sale Value         </p>
                          <h2>$7454.25</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><span class="badge badge-primary">New</span>
              </div>
            </div>
            <div class="col-xl-12 col-sm-6 col-lg-12">
              <div class="card value-chart stock-value bg-secondary">
                <div class="card-body">
                  <div class="row">
                    <div class="col-6">
                      <div class="stock-value" id="stock-value"></div>
                    </div>
                    <div class="col-6">
                      <div class="valuechart-detail">
                        <div>
                          <p>Today Value</p>
                          <h2>$5263.04              </h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><span class="badge badge-primary">Hot        </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4">
          <div class="beyo-line row">
            <div class="beyoline-header col-xl-12">
              <div id="beyo-line"></div>
            </div>
            <div class="beyo-detail col-xl-12">
              <h3>Beyond the Lines <span class="badge badge-primary">6 hours ago</span></h3>
              <p>One Of the world,s brightest, young surf Srars, Kanoa lgarashi.</p>
              <div class="date-history">
                <ul>
                  <li><img class="img-fluid" src="{% static 'Koho/assets/images/dashboard/beyo-line/1.png' %}" alt=""></li>
                  <li><img class="img-fluid" src="{% static 'Koho/assets/images/dashboard/beyo-line/2.png' %}" alt=""></li>
                  <li><img class="img-fluid" src="{% static 'Koho/assets/images/dashboard/beyo-line/3.png' %}" alt=""></li>
                  <li><img class="img-fluid" src="{% static 'Koho/assets/images/dashboard/beyo-line/4.png' %}" alt=""></li>
                  <li>
                    <h2>+ 350</h2>
                  </li>
                </ul>
                <div class="date-lable">
                  <h3>10</h3>
                  <p>june</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-5 des-xl-100 box-col-100 col-lg-12">
          <div class="card investment-chart">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-4">
                  <div class="investment-group"><span class="invest-lable">+13.6%</span>
                    <div id="invest-chart"></div>
                    <div class="chart-detail">
                      <h5>Total Investment</h5>
                      <h2>$7454.25</h2>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="investment-group"><span class="invest-lable">+15.4%</span>
                    <div class="gain-chart" id="gain-chart"></div>
                    <div class="chart-detail">
                      <h5>Total Gain</h5>
                      <h2>$7454.25</h2>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="investment-group"><span class="invest-lable">+15.4%</span>
                    <div class="profit-chart" id="profit-chart"></div>
                    <div class="chart-detail">
                      <h5>Profit in 6 months</h5>
                      <h2>$7454.25</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 box-col-50 des-xl-50">
          <div class="card social-shared">
            <div class="card-header pb-0">
              <h3>Top Social Media</h3>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordernone">
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex">
                          <div class="icon"><a href="https://www.facebook.com/" target="_blank"><img class="img-fluid" src="{% static 'Koho/assets/images/dashboard/social-media/fb.png' %}" alt=""></a></div>
                          <div class="flex-grow-1"><a href="https://www.facebook.com/login" target="_blank">
                              <h5>Facebook</h5>
                              <p>Social Media                            </p></a></div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex"><i class="fa fa-arrow-up font-success me-2"></i>
                          <h5>3.7%</h5>
                        </div>
                      </td>
                      <td>
                        <h5>$24,000     </h5>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex">
                          <div class="icon"><a href="https://www.instagram.com/accounts/login/" target="_blank"><img class="img-fluid" src="{% static 'Koho/assets/images/dashboard/social-media/insta.png' %}" alt=""></a></div>
                          <div class="flex-grow-1"><a href="https://www.instagram.com/accounts/login/" target="_blank">
                              <h5>Instagram</h5>
                              <p>Social Media</p></a></div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex"> <i class="fa fa-arrow-up font-success me-2"></i>
                          <h5>3.7%</h5>
                        </div>
                      </td>
                      <td>
                        <h5>$33,000</h5>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex">
                          <div class="icon"><a href="https://www.twitter.com/login" target="_blank"><img class="img-fluid" src="{% static 'Koho/assets/images/dashboard/social-media/twit.png' %}" alt=""></a></div>
                          <div class="flex-grow-1"><a href="https://www.twitter.com/login" target="_blank">
                              <h5>Twitter</h5>
                              <p>Social Media                            </p></a></div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex"><i class="fa fa-arrow-up font-success me-2"></i>
                          <h5>7.6%</h5>
                        </div>
                      </td>
                      <td>
                        <h5>$72,000            </h5>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 box-col-50 des-xl-50">
          <div class="card upgrade-history">
            <div class="card-body">
              <div>
                <h3>Buy more space now!                  </h3>
                <p>Invite 2 Friends and get 5 GB extra space.</p><a class="btn btn-primary" href="https://themeforest.net/user/pixelstrap/portfolio" target="_blank"> Upgrade now</a>
              </div>
            </div>
            <div class="upgrade-img"><img class="img-fluid" src="{% static 'Koho/assets/images/dashboard/upgrade/1.png' %}" alt=""></div>
          </div>
        </div>
        -->
      </div>
    </div>
    <!-- Container-fluid Ends-->
<!-- Modal -->
<div class="modal fade" id="InfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-white" id="ModalTitle"><span id="FunctionTitle"><i class="icon-pencil-alt"></i>&nbsp;&nbsp;<b>Edit</b></span></h3>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="upload-form" method="post" enctype="multipart/form-data">
            <div class="modal-body">
                <input type="hidden" class="form-control" id="property_id">
                <input type="hidden" class="form-control" id="action">
				<div class="form-group" id="property_info">

                </div>

				<div class="form-group">
					<label>物業狀況：</label>
						<div class="form-group clearfix">
							<div class="radio radio-primary d-inline" style="margin-right:20px">
								<input type="radio" id="radio1" name="r1">
								<label for="radio1" value="1">商議</label>
							</div>
							<div class="radio radio-primary d-inline" style="margin-right:20px">
								<input type="radio" id="radio2" name="r1">
								<label for="radio2" value="1">現吉</label>
							</div>
							<div class="radio radio-primary d-inline" style="margin-right:20px">
								<input type="radio" id="radio3" name="r1">
								<label for="radio3" value="1">連租約</label>
							</div>
							<div class="radio radio-primary d-inline" style="margin-right:20px">
								<input type="radio" id="radio4" name="r1">
								<label for="radio4" value="1">已租</label>
							</div>
							<div class="radio radio-primary d-inline" style="margin-right:20px">
								<input type="radio" id="radio5" name="r1">
								<label for="radio5" value="1">已售</label>
							</div>
							<div class="radio radio-primary d-inline" style="margin-right:20px">
								<input type="radio" id="radio6" name="r1">
								<label for="radio6" value="1">封盤</label>
							</div>
						</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" id="add_button" action="add"><i class="icon-plus"></i>&nbsp;&nbsp;新增</button>
                {% if 1455 in request.session.accessright %}
                <button type="button" class="btn btn-warning" id="edit_button" action="edit"><i class="icon-pencil-alt"></i>&nbsp;&nbsp;更新</button>
                {% endif %}
                <button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i class="icon-close" aria-hidden="true"></i>&nbsp;&nbsp;關閉</button>
            </div>
            <div class="modal-message">
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock main_content %}

{% block custom_js %}
<script>
    $(".open_modal_info").click(function(){
        // Adding the Value from Table to Modal form
        $(".modal-header").css('color', '#FFFFFF');
        $("#property_id").val($(this).attr("property_id"));
        $("#action").val($(this).attr("action"));
        if ($(this).attr("status") == "商議") $("#radio1").prop("checked", true);
        if ($(this).attr("status") == "現吉") $("#radio2").prop("checked", true);
        if ($(this).attr("status") == "連租約") $("#radio3").prop("checked", true);
        if ($(this).attr("status") == "已租") $("#radio4").prop("checked", true);
        if ($(this).attr("status") == "已售") $("#radio5").prop("checked", true);
        if ($(this).attr("status") == "封盤") $("#radio6").prop("checked", true);

        var property_id = $(this).attr("property_id");
        var action = $(this).attr("action");
        var formtype = $(this).attr("formtype");
        if (action == 'add') {
            $("#FunctionTitle").html("<i class='icon-plus'></i>&nbsp;&nbsp;<b>新增物業內容</b>");
            $(".modal-header").css('background-color', '#DD4B39');
            $("#add_button").show();
            $("#edit_button").hide();
            $("#remove_button").hide();
        } else {
            $("#FunctionTitle").html("<i class='icon-eye'></i>&nbsp;&nbsp;<b>查詢物業內容</b>");
            $(".modal-header").css('background-color', '#F39C12');
            $("#add_button").hide();
            $("#edit_button").show();
            $("#remove_button").show();
        }
        if (formtype == "property_info") {
            $.ajax({
                url:'{% url 'propertyEnquiry_response' %}',
                type:'POST',
                data:{action:'property_info', property_id:property_id},
            })
            .done(function(response){
                $("#InfoModal #property_info").html(response);
            })
            .fail(function(xhr, status, error){
                $('#InfoModal .modal-message').html(xhr.responseText);
                //alert(xhr.responseText);
            })
        }
    });

    $(document).on("click", ".add_highlight", function(){
        action = "add_highlight"
        var property_id = $(this).attr("property_id");
        var flag = $(this).attr("flag");
        $.ajax({
            url:'{% url 'home_response' %}',
            type:'POST',
            async:true,
            data:{action:action, property_id:property_id, flag:flag},
        })
        .done(function(response){
            location.reload();
        })
        .fail(function(xhr, status, error){
            $('#errormessage').html(xhr.responseText);
        })
    })

    $(document).on("click", "#rent_view_more", function(){
        action = "rent_view_page_size"
        $.ajax({
            url:'{% url 'home_response' %}',
            type:'POST',
            async:true,
            data:{action:action},
        })
        .done(function(response){
            location.reload();
        })
        .fail(function(xhr, status, error){
            $('#errormessage').html(xhr.responseText);
        })
    })

    $(document).on("click", "#sell_view_more", function(){
        action = "sell_view_page_size"
        $.ajax({
            url:'{% url 'home_response' %}',
            type:'POST',
            async:true,
            data:{action:action},
        })
        .done(function(response){
            location.reload();
        })
        .fail(function(xhr, status, error){
            $('#errormessage').html(xhr.responseText);
        })
    })

    $(document).on("click", "#rentsell_view_more", function(){
        action = "rentsell_view_page_size"
        $.ajax({
            url:'{% url 'home_response' %}',
            type:'POST',
            async:true,
            data:{action:action},
        })
        .done(function(response){
            location.reload();
        })
        .fail(function(xhr, status, error){
            $('#errormessage').html(xhr.responseText);
        })
    })
</script>
{% endblock custom_js %}

{% comment %} Custom JS to Identify the Reply and Post Reply {% endcomment %}

{% block morejs %}

{% endblock morejs %}