{% extends 'web_template/common_template.html' %}

{% block breadcrumb %}
    <!--=====================================-->
    <!--=   Breadcrumb     Start            =-->
    <!--=====================================-->
        <div class="hide-on-mobile-menu">
        <br><br><br><br>
        </div>
        <div class="breadcrumb-wrap">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/main">{{"主頁"|showlang:request.session.lang}}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{"一手新盤"|showlang:request.session.lang}}</li>
                    </ol>
                </nav>
            </div>
        </div>
{% endblock breadcrumb %}

{% block main_content %}
{% load static %}

    <!--=====================================-->
    <!--=   Account     Start               =-->
    <!--=====================================-->
    <!--<div class="article-head"><br>
        <h5 class="text-center" style="font-weight:600">一手物業</h5>
    </div>-->
    <!--=====================================-->
    <!--=   Property     Start              =-->
    <!--=====================================-->

        <section class="property-wrap2">
            <div class="container">
                <div class="item-heading-center mb-20">
                    <h2 class="section-title">{{"一手新盤"|showlang:request.session.lang}}</h2>
                    <!--<div class="bg-title-wrap" style="display: block;">
                        <span class="background-title solid">Properties</span>
                    </div>-->
                    <div class="row g-3">
                        <div class="col-md-2">
                            <div class="input-group">
                                <input type="text" name="q" id="searchinput" class="form-control" placeholder="{{"關鍵字"|showlang:request.session.lang}}">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <input type="number" name="q" id="pricemin" class="form-control" placeholder="{{"售價最少"|showlang:request.session.lang}}">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <input type="number" name="q" id="pricemax" class="form-control" placeholder="{{"售價最多"|showlang:request.session.lang}}">
                            </div>
                        </div>
                    </div>
                    <div id="errormessage"></div>
                    <div class="d-flex justify-content-center">
                        <ul class="nav nav-tabs" id="info-tab" role="tablist">
                            <li class="nav-item"> <a class="nav-link active" id="newproperty-hot-tab" data-bs-toggle="tab" href="#newproperty-hot" role="tab" action="newproperty_view" usage="商業" offertype="放租" area=""　display="2" aria-controls="newproperty-hot" aria-selected="true"> <i class="icofont icofont-ui-home"></i>{{"全部"|showlang:request.session.lang}}</a></li>
                            <li class="nav-item"> <a class="nav-link" id="newproperty-hk-tab" data-bs-toggle="tab" href="#newproperty-hk" role="tab" action="newproperty_view" usage="工業" offertype="放租" area="港島" display="2" aria-controls="newproperty-hk" aria-selected="false"> <i class="icofont icofont-man-in-glasses"></i>{{"香港及離島"|showlang:request.session.lang}}</a></li>
                            <li class="nav-item"> <a class="nav-link" id="newproperty-kln-tab" data-bs-toggle="tab" href="#newproperty-kln" role="tab" action="newproperty_view" usage="商舖" offertype="放租" area="九龍" display="2" aria-controls="newproperty-kln" aria-selected="false"> <i class="icofont icofont-contacts"></i>{{"九龍"|showlang:request.session.lang}}</a></li>
                            <li class="nav-item"> <a class="nav-link" id="newproperty-nt-tab" data-bs-toggle="tab" href="#newproperty-nt" role="tab" action="newproperty_view" usage="住宅" offertype="放租" area="新界" display="2" aria-controls="newproperty-nt" aria-selected="false"> <i class="icofont icofont-contacts"></i>{{"新界"|showlang:request.session.lang}}</a></li>
                        </ul>
                    </div>

                    <div class="tab-content" id="info-tabContent">
                      <div class="tab-pane fade show active" id="newproperty-hot" role="tabpanel" aria-labelledby="newproperty-hot-tab">
                      </div>
                      <div class="tab-pane fade" id="newproperty-hk" role="tabpanel" aria-labelledby="newproperty-hk-tab">
                      </div>
                      <div class="tab-pane fade" id="newproperty-kln" role="tabpanel" aria-labelledby="newproperty-kln-tab">
                      </div>
                      <div class="tab-pane fade" id="newproperty-nt" role="tabpanel" aria-labelledby="newproperty-nt-tab">
                      </div>
                    </div>
                </div>
                <!--
                <div class="property-button">
                    <a href="/property_search" class="item-btn">瀏覽所有一手物業</a>
                </div>
                -->
            </div>
        </section>

{% endblock main_content %}

{% block custom_js %}
<script>
    action = "newproperty_view";
    usage = "商業";
    offertype = "放租";
    area = "";
    display = 2;
    pagetype = "#newproperty-hot";
    dname = '';
    pricemin = 0;
    pricemax = 0;

    $.ajax({
        url:'{% url 'main_response' %}',
        type:'POST',
        async:true,
        data:{action:action, usage:usage, offertype:offertype, area:area, display:display, dname:dname, pricemin:pricemin, pricemax:pricemax},
    })
    .done(function(response){
        $(pagetype).html(response);
    })
    .fail(function(xhr, status, error){
        $('#errormessage').html(xhr.responseText);
    })

    var selectTab
    $('[data-bs-toggle="tab"]').click(function(e) {
        var $this = $(this)
        selectTab = $this.attr('action');

        var	pagetype = $this.attr('href'),
            targ = $this.attr('data-bs-target'),
            action = $this.attr('action');
            usage = $this.attr('usage');
            offertype = $this.attr('offertype');
            area = $this.attr('area');
            display = $this.attr('display');
            dname = $("#searchinput").val();
            pricemin = $("#pricemin").val();
            pricemax = $("#pricemax").val();

            $.ajax({
                url:'{% url 'main_response' %}',
                type:'POST',
                async:true,
                data:{action:action, usage:usage, offertype:offertype, area:area, display:display, dname:dname, pricemin:pricemin, pricemax:pricemax},
            })
            .done(function(response){
                //  alert(pagetype)
                $(pagetype).html(response);
                refresh_table();
            })
            .fail(function(xhr, status, error){
                $('#errormessage').html(xhr.responseText);
            })
            $this.tab('show');
        return false;
    });

    $("#searchinput, #pricemin, #pricemax").on("keyup change", function() {

        var tabContent = document.querySelector('.tab-content');
        var activeTabPanel = tabContent.querySelector('.tab-pane.active');
        //$('a[href="#'+activeTabPanel.id+'"]').trigger('click');

        action = "newproperty_view";
        usage = "商業";
        offertype = "放租";
        area = $("#"+activeTabPanel.id+"-tab").attr('area');
        display = 2;
        pagetype = "#"+activeTabPanel.id;
        dname = $("#searchinput").val();
        pricemin = $("#pricemin").val();
        pricemax = $("#pricemax").val();

        $.ajax({
            url:'{% url 'main_response' %}',
            type:'POST',
            async:true,
            data:{action:action, usage:usage, offertype:offertype, area:area, display:display, dname:dname, pricemin:pricemin, pricemax:pricemax},
        })
        .done(function(response){
            $(pagetype).html(response);
        })
        .fail(function(xhr, status, error){
            $('#errormessage').html(xhr.responseText);
        })
    });
z
</script>
{% endblock custom_js %}

{% comment %} Custom JS to Identify the Reply and Post Reply {% endcomment %}

{% block morejs %}

{% endblock morejs %}