{% block page_title %}

{% endblock page_title %}

{% block main_content %}

    {% load static %}
    {% load custom_template_tags %}

	{% if action == "code_detail_list" %}
        <div class="table-responsive">
            <table class="display" id="contentTable">
                <thead>
                    <tr>
                        <th width="20">ID</th>
                        <th width="100">主分類</th>
                        <th style="text-align:center;" width="60">編碼</th>
                        <th width="150">名稱</th>
                        <th>名稱(英)</th>
                        <th style="text-align:center;" width="80">次序</th>
                        <th style="text-align:center;" width="50">狀態</th>
                        <th style="text-align:center;" width="60">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for displaydata in code_detail_list %}
                    <tr>
                        <td style="text-align:center;">{{ displaydata.code_detail_id }}</td>
                        <td data-filter="{{ displaydata.code_parent_id }}">{{ displaydata.code_parent_id|codeparentid }}</td>
                        <td style="text-align:center;" data-filter="{{ displaydata.code_key }}">{{ displaydata.code_key }}</td>
                        <td data-filter="{{ displaydata.code_detail_name }}">{{ displaydata.code_detail_name }}</td>
                        <td data-filter="{{ displaydata.code_detail_name_e }}">{{ displaydata.code_detail_name_e }}</td>
                        <td style="text-align:center;" data-filter="{{ displaydata.sequence }}">{{ displaydata.sequence }}</td>
                        <td style="text-align:center;">
                            {% if displaydata.status == 1 %}
                            <span class="badge rounded-pill badge-success">正常</span>
                            {% else %}
                            <span class="badge rounded-pill badge-danger">失效</span>
                            {% endif %}
                        </td>
                        <td align="center">
                            <ul class="action">
                            {% if 1309 not in request.session.accessright %}
                                <li class="edit"> <a href="#" class="open_modal_edit" data-bs-toggle="modal" data-original-title="test" data-bs-target="#EditModal"><i class="icon-lock"></i></a></li>
                            {% else %}
                                <li class="edit"> <a href="#" class="open_modal_edit" data-bs-toggle="modal" data-original-title="test" data-bs-target="#EditModal" action="edit" formtype="code_info" formname="Code Information" shop="{{ displaydata.shop }}" code_detail_id="{{ displaydata.code_detail_id }}" code_id="{{ displaydata.code_id }}" code_parent_id="{{ displaydata.code_parent_id }}" code_key="{{ displaydata.code_key }}" code_detail_name="{{ displaydata.code_detail_name }}" code_detail_name_e="{{ displaydata.code_detail_name_e }}" sequence="{{ displaydata.sequence }}" code_detail_photo="{{ displaydata.code_detail_photo }}" code_detail_icon="{{ displaydata.code_detail_icon }}" status="{{ displaydata.status }}"><i class="icon-pencil-alt"></i></a></li>
                            {% endif %}
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock main_content %}

{% block custom_js %}
    {% if action == "code_detail_list" %}
        <script>
        $(document).ready(function(){
            $(".open_modal_edit").click(function(){
                // Adding the Value from Table to Modal form
                $(".modal-header").css('color', '#FFFFFF');
                $("#action").val($(this).attr("action"));
                $("#code_detail_id").val($(this).attr("code_detail_id"));
                $("#code_id").val($(this).attr("code_id"));
                $("#TxtParent").val($(this).attr("code_parent_id"));
                $("#TxtCodeKey").val($(this).attr("code_key"));
                $("#TxtCodeDetailName").val($(this).attr("code_detail_name"));
                $("#TxtCodeDetailNameE").val($(this).attr("code_detail_name_e"));
                $("#TxtSequence").val($(this).attr("sequence"));
                $("#TxtCodeDetailPhoto").html($(this).attr("code_detail_photo"));
                $("#TxtCodeDetailIcon").html($(this).attr("code_detail_icon"));
                if ($(this).attr("status") == "1")
                    $("#radioActive").prop("checked", true);
                else
                    $("#radioInActive").prop("checked", true);
                var id = $(this).attr("recordid");
                var action = $(this).attr("action");
                //var showuploadname = document.getElementById("showuploadname");
                //var showfilename = document.getElementById("showfilename");
                if (action == 'add') {
                    $("#FunctionTitle").html("<i class='icon-plus'></i>&nbsp;&nbsp;<b>新增地區</b>");
                    $(".modal-header").css('background-color', '#DD4B39');
                    //showuploadname.style.display = "";
                    //showfilename.style.display = "none";
                    $("#add_button").show();
                    $("#edit_button").hide();
                    $("#remove_button").hide();
                } else {
                    $("#FunctionTitle").html("<i class='icon-pencil-alt'></i>&nbsp;&nbsp;<b>編輯地區</b>");
                    $(".modal-header").css('background-color', '#F39C12');
                    //showuploadname.style.display = "none";
                    //showfilename.style.display = "";
                    $("#add_button").hide();
                    $("#edit_button").show();
                    $("#remove_button").show();
                }
            });
        })
        </script>
    {% endif %}
{% endblock custom_js %}

{% comment %} Custom JS to Identify the Reply and Post Reply {% endcomment %}

{% block morejs %}


{% endblock morejs %}

