{% extends 'common_template/base_template_2.html' %}

{% block page_title %}
    <section class="content-header">
      <h3 style="font-weight:600">環球物業管理</h3>
    </section>
{% endblock page_title %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		{% for displayitem in menuitem %}
			<li class="breadcrumb-item"><a href="/home" class="home-item" data-bs-original-title="" title="">
				<i data-feather="home">{{displayitem.tabName}}</i></a>
			</li>
			<li class="breadcrumb-item">{{displayitem.catName}}</li>
			<li class="breadcrumb-item active">{{displayitem.subCatName}}</li>
		{% endfor %}
	</ol>
{% endblock breadcrumb %}

{% block main_content %}

{% load static %}
<section class="content">
    <div class="row">
        <!-- Zero Configuration  Starts-->
        <div class="col-sm-12">
            <div class="card">

                <div class="card-header pb-0" style="display:none">
                    <div class="row g-3">
                        <div class="col-md-3">
                            <label class="form-label" for="cboCountry">用途</label>
                            <select id="cboCountry" class="form-select">
                            {% if 1400 in request.session.accessright %}<option value="" {% if user_country == "" %}selected{% endif %}>- 所有國家 -</option>{% endif %}
                            {% for countrys in countrylist %}
                                <option value="{{usages.code_detail_name}}" {% if user_country == countrys.code_detail_name %}selected{% endif %}>{{countrys.code_detail_name}}</option>
                            {% endfor %}
                            </select>
                            <div id="propertyid">{{user_propertyid}}</div>
                        </div>
                    </div>
                </div>
                <div id="contentBody" class="card-body"></div>
            </div>
        </div>
    </div>
</section>

<div class="modal" id="PictureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width:515px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-white" id="ModalTitle"><span id="FunctionTitle"><i class="icon-pencil-alt"></i>&nbsp;&nbsp;<b>上載圖片</b></span></h3>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
					<input type="hidden" class="form-control" id="action">
				</div>
                <div class="form-group col-sm-12">
                    <table border="2" class="table table-striped" bordercolor="grey">
                        <colgroup>
                            <col style="width:20%;background-color: #f2f2f2;">
                            <col style="width:30%;">
                            <col style="width:20%;background-color: #e6e6e6;">
                            <col style="width:30%;">
                        </colgroup>
                        <thead>
                            <td align="center" class="bg-success" colspan="4"><b>環球物業資料</b></td>
                        </thead>
                        <tr>
                            <td width="200"><b>環球物業編號：</b></td>
                            <td colspan="3"><span id="propertyno_picture"></span></td>
                        </tr>
                        <tr>
                            <td><b>環球物業名稱：</b></td>
                            <td colspan="3"><span id="propertyname_picture"></span></td>
                        </tr>
                    </table>
                </div>
                <div class="form-group col-sm-12">
                    <div class="product-info">
                      <h3 class="mt-4" style="font-weight:600">環球物業圖片</h3>
                      <form class="dropzone dropzone-primary" id="multiFileUpload" action="/upload/">
    					<input type="hidden" class="form-control" id="proprertyforeignid">
                        <div class="dz-message needsclick"><i class="icon-cloud-up"></i>
                          <h4>將文件拖放到此處或點擊上傳。</h4><span class="note needsclick"></span>
                        </div>
                      </form>
                    </div>
                </div>
			</div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i class="icon-plus" aria-hidden="true"></i>&nbsp;&nbsp;加入</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="TitleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width:515px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-white" id="ModalTitle"><span id="FunctionTitle"><i class="icon-pencil-alt"></i>&nbsp;&nbsp;<b>更新平面圖標題及描述</b></span></h3>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
					<input type="hidden" class="form-control" id="action1">
					<input type="hidden" class="form-control" id="fileid">
					<input type="hidden" class="form-control" id="propertyid1">
				</div>
                <div class="form-group col-sm-12">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="mb-3">
                        <label class="form-label">標題</label>
                        <input class="form-control" placeholder="" type="text" id="filetitle" value=""><span class="text-danger"></span>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="mb-3">
                        <label class="form-label">標題(簡)</label>
                        <input class="form-control" placeholder="" type="text" id="filetitle_s" value=""><span class="text-danger"></span>

                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="mb-3">
                        <label class="form-label">標題(英)</label>
                        <input class="form-control" placeholder="" type="text" id="filetitle_e" value=""><span class="text-danger"></span>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12">
                      <div class="mb-3">
                        <label class="form-label">描述</label>
                        <input class="form-control" placeholder="" type="text" id="filedescription" value=""><span class="text-danger"></span>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="mb-3">
                        <label class="form-label">描述(簡)</label>
                        <input class="form-control" placeholder="" type="text" id="filedescription_s" value=""><span class="text-danger"></span>

                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="mb-3">
                        <label class="form-label">描述(英)</label>
                        <input class="form-control" placeholder="" type="text" id="filedescription_e" value=""><span class="text-danger"></span>
                      </div>
                    </div>
                  </div>
                </div>
			</div>
            <div class="modal-footer">
                <!--<button type="submit" class="btn btn-danger" id="add_button" action="add"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增</button>-->
                <button type="button" class="btn btn-warning" id="edit_title_button" action="edit_title_desc"><i class="icon-pencil-alt"></i>&nbsp;&nbsp;更新</button>
                <button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;關閉</button>
            </div>
        </div>
    </div>
</div>

<!-- Root element of PhotoSwipe. Must have class pswp.-->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>
      <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">
          <div class="pswp__counter"></div>
          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
          <button class="pswp__button pswp__button--share" title="Share"></button>
          <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
          <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div>
        </div>
        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>
      </div>
    </div>
</div>
{% endblock main_content %}

{% block custom_js %}
<script type="text/javascript">
    var table;

    const myModal = document.getElementById('PictureModal');

    // Add an event listener to the modal
    myModal.addEventListener('hidden.bs.modal', function () {
        var tabContent = document.querySelector('.tab-content');
        var activeTabPanel = tabContent.querySelector('.tab-pane.active');
        $('a[href="#'+activeTabPanel.id+'"]').trigger('click');
    });

    $("#cboCountry").on('change', function(){
        var val = $(this).val();
        var tabContent = document.querySelector('.tab-content');
        var activeTabPanel = tabContent.querySelector('.tab-pane.active');
        var propertyEditElement = document.getElementById('property_views'); // Get the element with ID "property_edit"
        propertyEditElement.setAttribute('usage', val);
        var propertyEditElement = document.getElementById('property_edits'); // Get the element with ID "property_edit"
        propertyEditElement.setAttribute('usage', val);

        //$("#"+activeTabPanel.id+"1").attr("usage",val);
		//$('a[href="#'+activeTabPanel.id+'"]').trigger('click');
		$('a[href="#property_view"]').trigger('click');
    });

	function load_menu() {
		action = "menutab";
		country = $("#cboCountry").val();
		propertyid = $("#propertyid").html();
		$('#contentBody').html("<br/><center><div class=\"loader-box\"><div class=\"loader-7\"></div></div></center>");
		$.ajax({
			url:'{% url 'foreignPropertyMain_response' %}',
			type:'POST',
			data:{action:action, country:country, propertyid:propertyid},
		})

		.done(function(response){
			$('#contentBody').html(response);
		})

		.fail(function(xhr, status, error){
            $('.box-header').html(xhr.responseText);
			//alert(xhr.responseText);
		})
	}

	function refresh_table() {
        table = $('#contentTable').DataTable({
            columnDefs: [
              {
                targets: [0], // Specify the column indices (0-based) that should not be sortable
                'checkboxes': {
                   'selectRow': true
                }
              },
            ],
            destroy: true,
            //"paging": false,
            "dom": 'Brtip',
            order: [[ 0, "desc" ]],
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]], 
               language: {
                   "sProcessing": "處理中...",
                   "sLengthMenu": "顯示 _MENU_ 項結果",
                   "sZeroRecords": "沒有匹配結果",
                   "sInfo": "顯示第 _START_ 到 _END_ 條記錄，共 _TOTAL_ 條",
                   "sInfoEmpty": "顯示第 0 到 0 條記錄，共 0 條",
                   "sInfoFiltered": "(由 _MAX_ 條記錄過濾)",
                   "sInfoPostFix": "",
                   "sSearch": "搜索：",
                   "sUrl": "",
                   "oPaginate": {
                       "sFirst": "首頁",
                       "sPrevious": "上一頁",
                       "sNext": "下一頁",
                       "sLast": "末頁"
                   },
               },
        });

         // Custom filtering function for age range
         $.fn.dataTable.ext.search.push(
            function(settings, data, dataIndex) {
                var areaMin = parseInt($('#cboAreaMin').val(), 10) || 0;
                var areaMax = parseInt($('#cboAreaMax').val(), 10) || Number.MAX_VALUE;
                var priceMin = parseInt($('#cboPriceMin').val(), 10) || 0;
                var priceMax = parseInt($('#cboPriceMax').val(), 10) || Number.MAX_VALUE;
                
                var grossArea = parseInt(data[4], 10) || 0; // Use data for the age column
                var usableArea = parseInt(data[5], 10) || 0; // Use data for the age column
                var sellingPrice = parseInt(data[7], 10) || 0; // Use data for the age column
                var rentPrice = parseInt(data[8], 10) || 0; // Use data for the age column

                var areaPass = ((grossArea >= areaMin && grossArea <= areaMax) || (usableArea >= areaMin && usableArea <= areaMax));
                var pricePass = ((sellingPrice >= priceMin && sellingPrice <= priceMax) || (rentPrice >= priceMin && rentPrice <= priceMax));

                return areaPass && pricePass;
            }
        );

        // Event listener for the min and max inputs
        $('#cboAreaMin, #cboAreaMax, #cboPriceMin, #cboPriceMax').keyup(function() {
            table.draw();
        });
	}

    $("#edit_title_button").click(function(){
        var action = $("#action1").val();
        var fileid = $("#fileid").val();
        var propertyid = $("#propertyid1").val();
        var filetitle = $("#filetitle").val();
        var filetitle_s = $("#filetitle_s").val();
        var filetitle_e = $("#filetitle_e").val();
        var filedescription = $("#filedescription").val();
        var filedescription_s = $("#filedescription_s").val();
        var filedescription_e = $("#filedescription_e").val();
        if (action == "edit_title_desc") {

            if (!(window.confirm("更新平面圖標題及描述記錄，你確定嗎？"))) {
                return false;
            }
            
            $.ajax({
                url:'{% url 'foreignPropertyMain_response' %}',
                type:'POST',
                data:{action:"edit_title_desc", fileid:fileid, filetitle:filetitle, filetitle_s:filetitle_s, filetitle_e:filetitle_e, filedescription:filedescription, filedescription_s:filedescription_s, filedescription_e:filedescription_e},
            })
            .done(function(response){
                $.notify({
                    message: "平面圖標題及描述已成功更新"
                    },{
                        type: 'success',
                        allow_dismiss: true,
                        positon: 'top right',
                        offset: 20,
                        spacing: 10,
                        z_index: 1031,
                });
                $("#TitleModal").modal("hide");
                var tabContent = document.querySelector('.tab-content');
                var activeTabPanel = tabContent.querySelector('.tab-pane.active');
                $('a[href="#'+activeTabPanel.id+'"]').trigger('click');
            })
            .fail(function(xhr, status, error){
                $('.modal-message').html(xhr.responseText);
                alert(xhr.responseText);
            })

        }
    });


    function simulateDownloadImageClick(uri, filename) {
      var link = document.createElement('a');
      if (typeof link.download !== 'string') {
        window.open(uri);
      } else {
        link.href = uri;
        link.download = filename;
        accountForFirefox(clickLink, link);
      }
    }

    function clickLink(link) {
      link.click();
    }

    function accountForFirefox(click) { // wrapper function
      let link = arguments[1];
      document.body.appendChild(link);
      click(link);
      document.body.removeChild(link);
    }

    // Initialize Dropzone
    Dropzone.autoDiscover = false;
    var myDropzone = new Dropzone("#multiFileUpload", {
        url: "/upload_foreign/",
        params: {
            property_id: "",
            filetype: ""
        },
        maxFilesize: 200, // Maximum file size in MB
        maxFiles: 20, // Maximum number of files allowed
        acceptedFiles: ".jpg, .jpeg, .png, .pdf, .doc, .xlsx, .mp4", // Allowed file extensions
        addRemoveLinks: true, // Show remove file links
        dictRemoveFile: "刪除", // Text for the remove file link
        init: function() {
            this.on("success", function(file, response) {
                // Handle success after file upload
                console.log("File uploaded successfully: " + file.name);
            });
            this.on("error", function(file, errorMessage) {
                // Handle error after file upload
                console.log("Error uploading file: " + file.name + " - " + errorMessage);
            });
            this.on("totaluploadprogress", function(progress) {
                // You can handle global upload progress here if needed
                console.log("Overall progress: " + progress + "%");
            });
        }
    });

    // Initial page
    load_menu()
</script>
{% endblock custom_js %}

{% comment %} Custom JS to Identify the Reply and Post Reply {% endcomment %}

{% block morejs %}

{% endblock morejs %}
