{% extends 'common_template/base_template_2.html' %}

{% block page_title %}
    <section class="content-header">
      <h3 style="font-weight:600">按揭轉介</h3>
    </section>
{% endblock page_title %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		{% for displayitem in menuitem %}
			<li class="breadcrumb-item"><a href="/home" class="home-item" data-bs-original-title="" title="">
				<i data-feather="home">{{displayitem.tabName}}</i></a>
			</li>
			<li class="breadcrumb-item">{{displayitem.catName}}</li>
			<li class="breadcrumb-item active">{{displayitem.subCatName}}</li>
		{% endfor %}
	</ol>
{% endblock breadcrumb %}

{% block main_content %}

{% load static %}
<style>
    .modal-dialog {
              width: 80% !important;
    }
</style>
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row g-3">
                        <div class="col-md-2">
                            <label class="form-label" for="datepicker_range">關鍵字</label>
                            <div class="input-group">
                                <input type="text" name="q" id="searchinput" class="form-control" placeholder="尋找內容...">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" for="datepicker_range">日期範圍</label>
                            <div id="datepicker_range" class="form-select">
                                <i class="fa fa-calendar"></i>&nbsp;
                                    <span></span><i class="fa fa-caret-down"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="contentBody" class="card-body"></div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Modal -->
<div class="modal fade" id="InfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-white" id="ModalTitle"><span id="FunctionTitle"><i class="icon-pencil-alt"></i>&nbsp;&nbsp;<b>Edit</b></span></h3>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="upload-form" method="post" enctype="multipart/form-data">
            <div class="modal-body">
                <input type="hidden" class="form-control" id="mortgage_refer_id">
                <input type="hidden" class="form-control" id="action">
				<div class="form-group" id="mortgagerefer_info">

                </div>

				<div class="form-group">
                    <div class="form-group>
                        <label class="form-label" for="cboUser">跟進同事</label>
                        <select id="cboUser" name="cboUser" multiple="multiple" class="js-example-placeholder-multiple col-sm-12" style="height:150px" {% if not 1475 in request.session.accessright %} disabled{% endif %}>
                        </select>
                    </div>
					<label>狀態</label>
						<div class="form-group clearfix">
							<div class="radio radio-primary d-inline" style="margin-right:20px">
								<input type="radio" id="radioNew" name="r1">
								<label for="radioNew" value="1">新查詢</label>
							</div>
							<div class="radio radio-primary d-inline" style="margin-right:20px">
								<input type="radio" id="radioInProgress" name="r1">
								<label for="radioInProgress" value="1">進行中</label>
							</div>
							<div class="radio radio-primary d-inline" style="margin-right:20px">
								<input type="radio" id="radioPending" name="r1">
								<label for="radioPending" value="1">暫緩</label>
							</div>
							<div class="radio radio-primary d-inline" style="margin-right:20px">
								<input type="radio" id="radioCompleted" name="r1">
								<label for="radioCompleted" value="1">完成</label>
							</div>
						</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" id="add_button" action="add"><i class="icon-plus"></i>&nbsp;&nbsp;新增</button>
                {% if 1473 in request.session.accessright %}
                <button type="button" class="btn btn-warning" id="edit_button" action="edit"><i class="icon-pencil-alt"></i>&nbsp;&nbsp;更新</button>
                {% endif %}
                {% if 1474 in request.session.accessright %}
                <button type="button" class="btn btn-danger" id="delete_button" action="delete"><i class="icon-trash"></i>&nbsp;&nbsp;刪除</button>
                {% endif %}
                <button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i class="icon-close" aria-hidden="true"></i>&nbsp;&nbsp;關閉</button>
            </div>
            <div class="modal-message">
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block custom_js %}
<script type="text/javascript">
    var table;
    var currentPage;

    var today = moment();
    //var start = moment().subtract(14, 'days');
    var start = '2024-01-01';
    var end = moment();
    var start_current = new Date(start);
    var end_current = new Date(end);


    function cb(start, end) {
        $('#datepicker_range span').html($('#datepicker_range').data('daterangepicker').chosenLabel + ' : ' + start.format('YYYY-MM-DD') + ' ~ ' + end.format('YYYY-MM-DD'));
    }

    function cb_change(start, end) {
        $('#datepicker_range span').html(start.format('YYYY-MM-DD') + ' ~ ' + end.format('YYYY-MM-DD'));
        $('#datepicker_range').daterangepicker({
            "autoApply": true,
            startDate: start,
            endDate: end,
            ranges: {
            }
        }, cb);

        //$('#cboYear option:selected').removeAttr('selected');
        //$('#cboYear option[value="'+start.format('YYYY')+'"]').attr('selected', 'selected');
        $('#cboPeriod option').each(function(){
            if($(this).val() < 8) {
                $(this).text($(this).text().substring(0, 3)+' '+end.format('YYYY'));
            }
            else {
                $(this).text($(this).text().substring(0, 3)+' '+start.format('YYYY'));
            }
        });
    }

    function cb_change_period(start, end) {
        $('#datepicker_range span').html(start.format('YYYY-MM-DD') + ' ~ ' + end.format('YYYY-MM-DD'));
        $('#datepicker_range').daterangepicker({
            "autoApply": true,
            startDate: start,
            endDate: end,
            ranges: {
            }
        }, cb);
    }

    cb_change(moment(start_current), moment(end_current));
    start = moment(start_current);
    end = moment(end_current);

    $('#datepicker_range').on('apply.daterangepicker', function (cb, picker) {
        start = picker.startDate;
        end = picker.endDate;
    });

    $("#searchinput").on("keyup", function() {
        var tabContent = document.querySelector('.tab-content');
        var activeTabPanel = tabContent.querySelector('.tab-pane.active');
        //$("#"+activeTabPanel.id).attr('loginid',val);

        var oTable = $('#contentTable-'+activeTabPanel.id).dataTable();
        oTable.fnFilter($(this).val());
    });

    $("#cboUser").on('change', function(){
        var val = $(this).val();
        var tabContent = document.querySelector('.tab-content');
        var activeTabPanel = tabContent.querySelector('.tab-pane.active');
        $("#"+activeTabPanel.id).attr('loginid',val);
		$('a[href="#'+activeTabPanel.id+'"]').trigger('click');
    });

	function load_menu() {
		action = "menutab";
		start_date = (start.format('YYYY-MM-DD'));
		end_date = (end.format('YYYY-MM-DD')+" 23:59:59");
		$('#contentBody').html("<br/><center><div class=\"loader-box\"><div class=\"loader-2\"></div></div></center>");
		$.ajax({
			url:'{% url 'mortgageRefer_response' %}',
			type:'POST',
			data:{action:action, start_date:start_date, end_date:end_date},
		})

		.done(function(response){
			$('#contentBody').html(response);
		})

		.fail(function(xhr, status, error){
            $('.box-header').html(xhr.responseText);
			//alert(xhr.responseText);
		})
	}

    function load_user() {
        loginid = $("#cboUser").val();
        if (loginid == "") loginid = "{{request.session.loginid}}";
        $.ajax({
            url:'{% url 'mortgageRefer_response' %}',
            type:'POST',
            data:{action:'team_list', loginid:loginid},
        })

        .done(function(response){
            $("#cboUser").html(response);
        })

        .fail(function(xhr, status, error){
            $("#contentBody").html(xhr.responseText);
        })
    }

    function load_table() {
        //$("#contentTable").html('<br/><center><b>LOADING</b><br/><img src="{% static 'images/lightbox-ico-loading.gif' %}"></center>');
        $.ajax({
            url:'{% url 'mortgageRefer_response' %}',
            type:'POST',
            data:{action:'entrust_list', start_date:start_date, end_date:end_date},
        })

        .done(function(response){
            $("#contentBody").html(response);
            refresh_table();
        })

        .fail(function(xhr, status, error){
            $("#contentBody").html(xhr.responseText);
        })
    }

    function refresh_table(action) {
        table = $('#contentTable-'+action).DataTable({
            columnDefs: [
              {
                targets: [9, 10], // Specify the column indices (0-based) that should not be sortable
                orderable: false
              }
            ],
            "paging": true,
            "dom": 'Brtip',
            "order": [],
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
               language: {
                   "sProcessing": "處理中...",
                   "sLengthMenu": "顯示 _MENU_ 項結果",
                   "sZeroRecords": "沒有匹配結果",
                   "sInfo": "顯示第 _START_ 到 _END_ 條記錄，共 _TOTAL_ 條",
                   "sInfoEmpty": "顯示第 0 到 0 條記錄，共 0 條",
                   "sInfoFiltered": "(由 _MAX_ 條記錄過濾)",
                   "sInfoPostFix": "",
                   "sSearch": "搜索：",
                   "sUrl": "",
                   "oPaginate": {
                       "sFirst": "首頁",
                       "sPrevious": "上一頁",
                       "sNext": "下一頁",
                       "sLast": "末頁"
                   },
               },
            buttons: [
                {   extend: "copy",
                    text: '<i class="fa fa-copy"></i>&nbsp;&nbsp;複製',
                    className: 'btn-warning'
                },
                {
                    extend: "print",
                    text: '<i class="fa fa-print"></i>&nbsp;&nbsp;列印',
                    customize: function(win)
                    {
                        var last = null;
                        var current = null;
                        var bod = [];

                        var css = '@page { size: landscape; }',
                            head = win.document.head || win.document.getElementsByTagName('head')[0],
                            style = win.document.createElement('style');

                        style.type = 'text/css';
                        style.media = 'print';

                        if (style.styleSheet)
                        {
                          style.styleSheet.cssText = css;
                        }
                        else
                        {
                          style.appendChild(win.document.createTextNode(css));
                        }
                        head.appendChild(style);
                    },
                    className: 'btn-primary'
                },
            ],
        });
    }

    $(document).on("click", "#edit_button, #delete_button", function(){
        //Disabling the Button while data is being saved in Server
        //$(this).attr("disabled", "disabled")
        //$(this).text("Confirming...")
        //console.log("SAVE")
        action = $(this).attr("action");
        mortgage_refer_id = $("#mortgage_refer_id").val();
        if ($("#radioNew").is(':checked')) status = 0;
        if ($("#radioInProgress").is(':checked')) status = 1;
        if ($("#radioPending").is(':checked')) status = 2;
        if ($("#radioCompleted").is(':checked')) status = 3;
        var followup_user = $("#cboUser").val();

        if (action == 'edit') {
            if (!(window.confirm("更改按揭轉介資料，你確定嗎？"))) {
                return false;
            }
        } else {
            if (!(window.confirm("這些項目將永久刪除且無法恢復，你確定嗎？"))) {
                return false;
            }
        }

        $.ajax({
            url:'{% url "mortgageRefer_save" %}',
            type:'POST',
            data:{action:action, mortgage_refer_id:mortgage_refer_id, followup_user:followup_user.toString(), status:status},
        })

        .done(function(response){
            if (response == "Success")
                var messagetype = "success"
            else
                var messagetype = "danger"
            if (action == "edit") messagetext = "按揭轉介已成功更新"
            if (action == "delete") messagetext = "按揭轉介已成功刪除"
            $.notify({
                message: messagetext
                },{
                    type: messagetype,
                    allow_dismiss: true,
                    positon: 'top right',
                    offset: 20,
                    spacing: 10,
                    z_index: 1031,
            });
            currentPage = table.page();
            $('a[href="#mortgagerefer_list"]').trigger('click');
            $("#InfoModal").modal('hide');
            //if (action == "delete") $('a[href="#mortgagerefer_list"]').trigger('click');
        })

        .fail(function(xhr, status, error){
            // alert the error if any error occured
            //alert(xhr.responseText);
            $("#editTable").html(xhr.responseText);
        })
    })

    $(document).on("click", " #print_button", function(){
        var buttontype = $(this).attr("buttontype");
        var clickedButtonId = event.target.id;
        var printButton = document.getElementById("print_button");
        var previousDiv = printButton.previousElementSibling;
        //alert($('#'+selectTab).html())

        if (buttontype == 'print') {
            sRestricted = '';

            var sheader = '<meta http-equiv="Content-Type" content="text/html; charset=utf-8">';
            sheader = sheader + '<style>';
            sheader = sheader + 'body{font-family:tahoma;font-size:10pt;}';
            sheader = sheader + 'table tr td{font-family:tahoma;font-size:10pt;}';
            sheader = sheader + 'body { margin: 0; padding: 15;  box-sizing: border-box;}';
            sheader = sheader + '</style>';

            var sstyle = '<link rel="stylesheet" href="{% static 'dist/css/Adminlte.css' %}" /><link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}"/>';

            //my_window.document.write( sheader );
            var tabobj = $('<div width=780px></div>').html($('#'+selectTab).html());
            tabobj.find('button').hide();

            shtml = tabobj.html();
            tabobj.printThis();

            //my_window.document.write( '<html><head>' +sheader + '</head>' + sstyle + '<body>' + shtml + '</body></html>');
       }
    })

    $(document).on("click", "#copy_button", function(){
        var elm = document.getElementById(selectTab);
        // for Internet Explorer
        if(document.body.createTextRange) {
            var range = document.body.createTextRange();
            range.moveToElementText(elm);
            range.select();
            document.execCommand("Copy");
            alert("Copied Content to clipboard.\nTry to paste the content (e.g. ctrl+v) afterwards in a different application (e.g. Excel/Word), to see the effect.");
        }
        else if(window.getSelection) {
            // other browsers
            var selection = window.getSelection();
            var range = document.createRange();
            range.selectNodeContents(elm);
            selection.removeAllRanges();
            selection.addRange(range);
            document.execCommand("Copy");
            alert("Copied Content to clipboard.\nTry to paste the content (e.g. ctrl+v) afterwards in a different application (e.g. Excel/Word), to see the effect.");
        }
    })

	$("#btnGenerate").click(function(){
        var tabContent = document.querySelector('.tab-content');
        var activeTabPanel = tabContent.querySelector('.tab-pane.active');
		$('a[href="#'+activeTabPanel.id+'"]').trigger('click');
	});

    // Initial page
    load_user();
    load_menu()
</script>
{% endblock custom_js %}

{% comment %} Custom JS to Identify the Reply and Post Reply {% endcomment %}

{% block morejs %}

{% endblock morejs %}
