<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <httpRuntime maxRequestLength="256000" /> <!-- Size in KB (256 MB) -->
    </system.web>
    <system.webServer>
        <serverRuntime uploadReadAheadSize="104857600" /> <!-- Size in bytes (100 MB) -->
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="268435456" /> <!-- Size in bytes (256 MB) -->
            </requestFiltering>
        </security>
        <httpProtocol allowKeepAlive="true" />
        <rewrite>
            <rules>
                <rule name="Redirect to HTTPS" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:0}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
