        <!-- footer start-->
          <footer class="footer">
            <div class="container-fluid">
              <div class="row">
                <div class="col-10 p-0 footer-left">
                  <p class="mb-0">© 2024 承灃物業有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;牌照號碼：C-098612&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;版權所有</p>
                </div>
                <div class="col-2 p-0 footer-right">
                    <i class="fa fa-heart font-danger"></i>
                </div>
              </div>
            </div>
          </footer>
        <!-- footer end -->