  <footer class="main-footer">
    <div class="pull-right hidden-xs">
        <span class="badge bg-warning"><b>版本</b> 2.0</span>
    </div>
    <strong>&copy;</strong>2024 版權
    <a href="#top" class="elementor-button-link elementor-button elementor-size-sm elementor-animation-shrink" role="button"> <span class="elementor-button-content-wrapper"> <span class="elementor-button-icon elementor-align-icon-left"> <i aria-hidden="true" class="icon icon-up-arrow1"></i> </span> <span class="elementor-button-text"></span> </span> </a>
  </footer>